.form {
    -fx-background-color: #061745;
}

.form2 {
    -fx-background-color: #C9D3E8;
}

.login {
    -fx-text-fill: black;
    -fx-font-size: 30px;
}

.btn {
    -fx-background-color: white;
    -fx-text-fill: #051643;
    -fx-background-radius: 12px;
    -fx-font-weight: Bold;
}

.user {
    -fx-underline: true;

}

.pass {
    -fx-underline: true;
}

.wrong {
    -fx-background-color: #C9D3E8;
}
